---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_REDzbpVSMcbozsaIBAbu842n00TDKaMn85
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FjBILFOQ2tOaVWZf8rDvBO8",
          "object": "token",
          "card": {
            "id": "card_1FjBILFOQ2tOaVWZQaMvt5HV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "xPsL4Ow0L3VOFyiR",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "98.207.246.165",
          "created": 1574802601,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 26 Nov 2019 21:10:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1FjBILFOQ2tOaVWZf8rDvBO8&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_REDzbpVSMcbozsaIBAbu842n00TDKaMn85
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2019-11-26 13:10:01 -0800/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2019-11-26 13:10:01 -0800/2/2
      Original-Request:
      - req_kkmaUHw1TwrV8A
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1FjBIMFOQ2tOaVWZgAf1Y1Wu",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 26 Nov 2019 21:10:02 GMT
recorded_with: VCR 5.0.0
