---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_REDzbpVSMcbozsaIBAbu842n00TDKaMn85
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FjBIKFOQ2tOaVWZhGsYM6Hz",
          "object": "token",
          "card": {
            "id": "card_1FjBIKFOQ2tOaVWZXyZ47xLy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "ukM1Mf7rp3KFSAr8",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "98.207.246.165",
          "created": 1574802600,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 26 Nov 2019 21:10:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1FjBIKFOQ2tOaVWZhGsYM6Hz&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_REDzbpVSMcbozsaIBAbu842n00TDKaMn85
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2019-11-26 13:10:00 -0800/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2019-11-26 13:10:00 -0800/1/1
      Original-Request:
      - req_BBhO4LhV27o9Ez
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1FjBILFOQ2tOaVWZ39LpHF7T",
          "object": "charge",
          "amount": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1FjBILFOQ2tOaVWZm0cdVPxS",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1574802601,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1FjBIKFOQ2tOaVWZXyZ47xLy",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2028,
              "fingerprint": "ukM1Mf7rp3KFSAr8",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1Fj0xOFOQ2tOaVWZ/ch_1FjBILFOQ2tOaVWZ39LpHF7T/rcpt_GFgfZJCSKjRGR4OdxteX6XLVCs7nFBp",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1FjBILFOQ2tOaVWZ39LpHF7T/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1FjBIKFOQ2tOaVWZXyZ47xLy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "ukM1Mf7rp3KFSAr8",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 26 Nov 2019 21:10:01 GMT
recorded_with: VCR 5.0.0
